tree-menu {
	display: block;
	cursor: default;
	white-space: nowrap;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	overflow: auto;
}
tree-menu > menu {
	display: block;
}
tree-menu menu-item {
	display: block;
	clear: left;
}
tree-menu.sizing > menu, tree-menu.sizing > menu > menu-item {
	float: left;
}
tree-menu opener {
	display: block;
	float: left;
	padding: 1px;
	height: 16px;
	width: 16px;
}
tree-menu menu-item.open > opener {
	background: url(../images/file_arrow.png) no-repeat 0 -36px;
}
tree-menu menu-item.open > opener:hover {
	background: url(../images/file_arrow.png) no-repeat 0 -54px;
}
tree-menu menu-item.closed > opener {
	background: url(../images/file_arrow.png) no-repeat 0 0;
}
tree-menu menu-item.closed > opener:hover {
	background: url(../images/file_arrow.png) no-repeat 0 -18px;
}
tree-menu menu-item.open > menu {
	display: block;
}
tree-menu content {
	display: block;
	position: relative;
	overflow: hidden;
}
tree-menu img {
	display: inline-block;
	float: left;
	padding: 1px;
	width: 16px;
	height: 16px;
}
tree-menu text {
	display: inline-block;
	padding: 0 4px 0 2px;
	font: 13px/16px arial, sans-serif;
	color: #444;
	border: 1px solid transparent;
	border-radius: 2px;
}
tree-menu.popout text {
	background: #fff;
	color: #222;
}
tree-menu content:hover text {
	color: #222;
}
tree-menu menu-item.selected > content > text {
	background-color: #b3e6ff;
	border: 1px solid #8cd8ff;
	color: #000;
}
tree-menu menu-item menu {
	display: none;
	margin-left: 18px;
}
